@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;1,200&display=swap');

*{
    padding: 0;
    margin: 0;
    //box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

//default styling
:root{
    --primaryColor: rgb(229, 148, 235);  ;
    --hoverColor: hsl(293, 32%, 42%);
    --paleGreen: hsl(268, 74%, 85%);
    --whiteColor: hsl(0, 0%, 100%);
    --blackColor: hsl(0, 0%, 18%);
    --greyText: hsl(0, 0%, 75%);
    --bgColor: hsl(113, 11%, 85%);
    --inputColor: hsl(330, 12%, 97%);

    /*Font ang Typography*/
    --biggestFontSize: 2.5rem;
    --h1FontSize: 1.5rem;
    --h2FontSize: 1.25rem;
    --h3FontSize: 1rem;
    --normalFontSize: .938rem;
    --smallFontSize: .813 rem;
    --smallestFontSize: .75rem;
}

flex{
    display: flex;
    align-items: center;
}

grid{
    display: grid;
    align-items: center;
    gap: 1.5rem;
}

html{
    font-size: 90%;
}

a{
    text-decoration: none;
}

li{
    list-style: none;
}

.icon{
    font-size: var(--h2FontSize);
    cursor: pointer;
}

img, video{
    height: auto;
    width: 100%;
}

.message{
    display: none;
}

.showMessage{
    display: block;
    color: var(--whiteColor);
    padding: 10px;
    background: rgb(255,0,0);
    border-radius: 3px;
    text-align: center;
}

.showMessage{
    display: block;
    color: var(--whiteColor);
    background: rgb(255,0,0);
    border-radius: 3px;
    text-align: center;
}

.btn{
    border: none;
    outline: none;
    cursor: pointer;
    border-radius: 8px;
    padding: .8rem 1rem;
    color: var(--greyText);
}

.btn .icon{
    margin-left: .5rem;
}

.btn:hover{
    color: var(--whiteColor);
    background: var(--primaryColor);  
}

// estilo de la pagina
.loginPage, .registerPage{
    height: 100vh;
    width: 100%;
    margin: auto;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 7px 50px rgb(214, 223, 213);
    background-color: var(--whiteColor);

    .container{
        height: 75vh;
        width: 60%;
        margin: auto;
        justify-content: space-between;
        border-radius: 10px;
        background: var(--whiteColor);

        .videoDiv{
            position: relative;
            display: flex;
            flex-basis: 50%;
            width: 50%;
            height: 100%;
            padding: 0 1.5rem;
            text-align: center;
            justify-content: center;
            flex-direction: column;
            margin: auto;
            border-radius: 10px;
            overflow: hidden;
            
            video, .footerDiv{
                position: absolute;
            }

            video{
                height: 100%;
                width: 100%;
                object-fit: cover;
                top: 0;
                bottom: 0;
                left: 0;
                right: 0;
            }

            .textDiv{
                position: relative;

                .title{
                    color: rgb(116, 39, 122);
                    font-size: 33px;
                    font-weight: bolder;
                
                }
                p{
                    color: var(--blackColor);
                    padding: 1rem;
                    font-weight: 600;
                }
            }

            .footerDiv{
                bottom: 10px;
                padding: 0 1rem;
                height: 60px;
                background: rgb(255, 255, 255, 0.248);
                left: 10px;
                right: 10px;
                justify-content: space-between;
                backdrop-filter: blur(1px);
                border-radius: 10px;

                .text{
                    color: var(--whiteColor);
                    text-align: center;
                    margin: auto;
                    color: var(--blackColor);
                    font-weight: 800;
                }

                .btn{
                    background: var(--primaryColor);
                    color: var(--whiteColor);
                    padding: .8rem 1.5rem;
                    border-radius: 10px;
                    font-weight: 800;
                    transition: .3s ease;

                    &:hover{
                        color: var(--whiteColor);
                        background: var(--primaryColor);  
                    }
                }
            }
        }

        .formDiv{
            flex-basis: 50%;
            margin: auto;
            flex-direction: column;
            gap: .1rem;
            transform: translateY(-1rem);

            .headerDiv{
                text-align: center;
                padding: 1.5rem 0;

                img{
                    width: 100px;
                    padding-bottom: .5rem;
                }

                h3{
                    font-size: 25px;
                    color: var(--primaryColor);
                    font-weight: 600;
                }
            }

            .form{
                gap: 1rem;
                margin-left: 5rem;
                margin-right: 5rem;

                .inputDiv{
                    .icon{
                        color:var(--greyText);
                    }

                    input{
                        background: none;
                        outline: none;
                        border: none;
                        width: 200px;
                    }

                    label{
                        color: var(--blackColor);
                        font-weight: 400;
                        font-size: 14px;
                        padding: .5rem 0;
                        display: block;
                    }

                    .input{
                        gap: .5rem;
                        padding: 1rem;
                        background: var(--inputColor);
                        border-radius: 10px;
                        width: 100%;
                    }

                    .btn{
                        padding: .8rem;
                        background: var(--primaryColor);
                        border-radius: 10px;
                        color: var(--primaryColor);
                        align-items: center;
                        margin: auto;
                        justify-content: center;
                        font-size: 16px;
                        width: 100%;
                        gap: .5rem;
                        transition: .3s ease;
                    }

                    .icon{
                        font-size: 18px;
                        transition: .2s ease;
                        color: var(--primaryColor);
                    }

                    .input:hover{
                        color: var(--whiteColor);
                        background: var(--primaryColor);  
                        
                        .icon{
                            color: var(--blackColor);
                            transform: translate(5px);
                        }
                    }

                }

                .forgotPassword{
                    font-size: 13px;
                    color: var(--blackColor);
                    opacity: .7;
                    text-align: center;

                    a{
                        text-decoration: underline;
                        cursor: pointer;
                        opacity: 1;
                    }
                }
            }
        }
    }
}


//Queries para el login y register
@media screen and (max-width: 602px){
    .loginPage, .registerPage {
        .container{
            height: 100%;
            width: 100%;
            flex-direction: column;
            padding: 1.5rem;

            .videoDiv{
                width: 100%;

                .textDiv{
                    .title{
                        font-size: 20px;
                    }

                    p{
                        padding: 1rem;
                    }
                }

                .footerDiv{
                   .text{
                    font-size: 12px;
                   }

                   .btn{
                    padding: .4rem 1.5rem;
                   }
                }
            }

            .formDiv{
                gap: 1rem;
                transform: translate(-.5rem);
            
                .headerDiv{
                    padding: 1rem 0;
                    img{
                        width: 40px;
                    }

                    h3{
                        font-size: 20px;
                    }
                }

                .form{
                    gap: .5rem;
                
                    .inputDiv{
                        input{
                            width: 100%;
                        }
                    }
                }
            }

        }
    }
}

@media screen and (max-width: 678px){
    .loginPage, .registerPage {
        .container{
            .videoDiv{
                .textDiv{
                    .title{
                        font-size: 25px;
                    }

                    p{
                        padding: 1rem;
                    }
                }

                .footerDiv{
                   .text{
                    font-size: 12px;
                   }

                   .btn{
                    padding: .8rem 1.5rem;
                   }
                }
            }

            .formDiv{
                .headerDiv{
                    padding: 1.5rem 0;

                    h3{
                        font-size: 20px;
                    }
                }

                .form{

                    .inputDiv{
                        input{
                            width: 100%;
                            max-width: 200px;
                        }
                    }
                }
            }

        }
    }
}

@media screen and (max-width: 927px){
    .loginPage, .registerPage {
        .container{
            width: 85%;
        }
    }
}   

//scroll bar
::-webkit-scrollbar {
    display: none;
}